################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/BSCH2-Novotny/.vs/BSCH2-Novotny/FileContentIndex/0f336e87-0b64-4709-bca9-4bad1f6a1bdc.vsidx
